<div>
    <h2>Basket</h2>
    <div *ngIf="books.length" class="books_wrapper">
        <div *ngFor="let book of books" class="books_list">
            <div class="book_card">
                <h3>Name: {{ book.name }}</h3>
                <p>Price: {{ book.price }}</p>
                <p>Count: {{ book.count }}</p>
                <div *ngIf="book.count">
                    <button (click)="deleteBook(book.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>